body {
    text-align: center;
    background: #eef1f7;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.controls {
    width: 350px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 15px #bbb;
}

.controls label {
    font-weight: bold;
    display: block;
    margin-top: 12px;
}

.controls input, .controls select {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #777;
}

button {
    width: 90%;
    padding: 12px;
    margin-top: 12px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #217dbb;
}

canvas {
    margin-top: 20px;
    border: 2px solid #444;
    background: white;
    border-radius: 10px;
}
